*{
    box-sizing: border-box;
}
.page-top {
    background-image: url('../img/x-and-o.jpg');
    background-size: 100% 60%;
    background-attachment: fixed;
    color: white;
}
.player {
    height: 500px;
    background-image: url(../img/Football_Single_with_Space.jpg);
    background-size: 100% 100.5%;
    max-width: 1000px;
}
.pass {
    opacity: .3;
    height: 166px
}
.run {
    padding-left: 8.33%;
    height: 166px;
    opacity: .5;
}
.search {
    height: 35px;
    border-radius: 5px;
    width: 200px;
    border: 1px solid black;
}