*{
    box-sizing: border-box;
}
.page-top {
    background-image: url('../img/x-and-o.jpg');
    background-size: 100% 60%;
    background-attachment: fixed;
    color: white;
}
.player {
    height: 500px;
    background-image: url(../img/Football_Single_with_Space.jpg);
    background-size: 100% 100.5%;
    max-width: 1000px;
    margin-bottom: 25px;
}
.pass, .run{
    height: 166px;
}
.run {
    padding-left: 8.33%;
}
.pass-top-left {
    border-bottom: 3px dotted black;
    border-right: 3px dotted black;
}
.pass-top-right {
    border-bottom: 3px dotted black
}
.run-left {
    border-left: 3px dotted black;
}
.run-right {
    border-right: 3px dotted black;
    border-left: 3px dotted black
}
.search {
    height: 35px;
    border-radius: 5px;
    width: 250px;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
}
/*
bootstrap green #5cb85c
bootstrap red #d9534f
*/
.green-red {
    width: 100%;
    max-width: 600px
}
.about-top {
    margin-top: 25px;
    margin-bottom: 25px
}
.pass-display {
    z-index: 1;
}
.placeholder {
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
}
.stats-overview {
    text-align: left
}