<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>4th and 1</title>

    <!-- additional stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <link href="css/ionicons.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/main.js"></script>

    <!-- JS file -->
    <script src="js/jquery.easy-autocomplete.js"></script>


    <!-- CSS file -->
    <link rel="stylesheet" href="css/easy-autocomplete.min.css">
    <link rel="stylesheet" href="css/easy-autocomplete.themes.css">
    
    
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-app="app">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">4th and 1</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#analyze">Analyze</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section id="intro" class="intro-section page-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>4th and 1</h1>
                    <h2><i class="ion-ios-pie-outline"></i> <i class="ion-ios-americanfootball-outline"></i> <i class="ion-ios-flask-outline"></i></h2>
                    <p>Welcome to 4th and 1. The purpose of this application is to provide the user with more than just player projections for their fantasy lineups. For more information and a more comprehensive explanation, stop by the about section.</p>
                    <br>
                    <a class="btn btn-default page-scroll" href="#analyze">Click Here to Analyze Players!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>About</h1>
                </div>
                <h4 class="about-top">As fantasy football fanatics, we are constantly looking for tools to give us an edge on our competition. We always seem to find apps that are riddled with subjectivity and provide little or no actual player statistics.</h4>
                <h3>Exhibit A:</h3>
                <img src="img/comparison.jpg" class="green-red">
                <p class="about-top">For those who don't want to expend much mental energy in determining their lineups, this is great. There's even a green box around the player with higher projections than the other. For those of us who enjoy the process of gathering statistics and information to make decisions, this is borderline completely useless.</p>
                <p>This is where 4thand1 comes into play. Player statistics are broken down into location-specific categories, and displayed in a manner which makes it easy to interpret. Simply hover over an area of the field, and you will be presented with pertinent statistics to ensure you make the right roster decisions.</p>
            </div>
        </div>
    </section>

    <section id="analyze" class="analyze-section" ng-controller="analyze-controller">
        <div class="row">
            <div class="col-lg-12">
                <h1>Analyze</h1>
            </div>
        </div>
        <div ng-repeat="player in playerArray">
            <h4>{{player.fname}} {{player.lname}}-{{player.pos}}-{{player.team}}</h4>
            <div class="container">
                <div class="row stats-overview">
                    <div class="col-xs-12">
                        <ul>
                            <li>
                                {{player.fname}} {{player.lname}} averages .4 TD receptions per game, {{player.defense}} surrenders an average of .48 TD receptions per game to opposing RWR-1s.
                            </li>
                            <li>
                                {{player.fname}} {{player.lname}} averages {{playerAvg.YPG}} yards per game, {{player.defense}} surrenders an average of 77 yards per game to opposing RWR-1s.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container location-stats">
                    <div class="row placeholder" ng-show="visibility[0]"><strong>Hover over an area of the field for location-specific stats</strong>
                    </div>
                    <!--used to be loc-stats -->
                    <div class="row placeholder" ng-show="visibility[1]">
                        <div class="col-xs-12">{{area}}</div>
                        <table class="stats-table">
                            <tr>
                                <td><strong>Stat</strong></td>
                                <td><strong>{{player.fname}} {{player.lname}}</strong></td>
                                <td><strong>{{player.defense}}</strong></td>
                            </tr>
                            <tr>
                                <td>Completion percentage</td>
                                <td>{{compPct}}%</td>
                                <td>{{defCompPct}}%</td>
                            </tr>
                            <tr>
                                <td>Yards per completion</td>
                                <td>{{YPC}}</td>
                                <td>{{defYPC}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <div class="container-fluid player" ng-mouseleave="resetDisplay()">

                <div class="row">
                    <div class="col-xs-4 pass pass-top-left" ng-mouseover="displayLocStats('dl')">
                    </div>
                    <div class="col-xs-4 pass pass-top-left" ng-mouseover="displayLocStats('dm')">

                    </div>
                    <div class="col-xs-4 pass pass-top-right" ng-mouseover="displayLocStats('dr')">

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 pass pass-top-left" ng-mouseover="displayLocStats('sl')">

                    </div>
                    <div class="col-xs-4 pass pass-top-left" ng-mouseover="displayLocStats('sm')">

                    </div>
                    <div class="col-xs-4 pass pass-top-right" ng-mouseover="displayLocStats('sr')">

                    </div>
                </div>
                <div class="row run">
                    <div class="col-xs-3 run run-left" ng-mouseover="displayLocStats('le')">

                    </div>
                    <div class="col-xs-1 run run-left" ng-mouseover="displayLocStats('lt')">

                    </div>
                    <div class="col-xs-1 run run-left" ng-mouseover="displayLocStats('lg')">

                    </div>
                    <div class="col-xs-1 run run-left" ng-mouseover="displayLocStats('md')">

                    </div>
                    <div class="col-xs-1 run run-left" ng-mouseover="displayLocStats('rg')">

                    </div>
                    <div class="col-xs-1 run run-left" ng-mouseover="displayLocStats('rg')">

                    </div>
                    <div class="col-xs-3 run run-right" ng-mouseover="displayLocStats('re')">

                    </div>
                </div>

            </div>

        </div>
        <div class="row search">
            <input class="search" id="players" type="text" placeholder="Search for players">
            <button class="btn btn-success search" type="submit" ng-click="newPlayer()">Submit</button>
            <br>
            <br>
        </div>

    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact</h1>
                </div>
            </div>
        </div>
        <div class="container">

            <form class="well form-horizontal" action=" " method="post" id="contact_form">
                <fieldset>

                    <!-- Form Name -->


                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">First Name</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="first_name" placeholder="First Name" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">Last Name</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="last_name" placeholder="Last Name" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">E-Mail</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input name="email" placeholder="E-Mail Address" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Phone #</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Message</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <textarea class="form-control" name="comment" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- Success message -->
                    <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting me, I will get back to you shortly.</div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-warning">Send <span class="glyphicon glyphicon-send"></span></button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </section>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    <script src="js/contact.js"></script>

</body>

</html>
