<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Fantasy football tool for visualizing player statistics based on field location">
    <meta name="google-site-verification" content="THY2iRAGIRROSZUW9inJJn0O9Us4KKrIMVMFIC3SaDQ"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <title>4th and 1</title>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>

    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
    <script src="js/src/playersApp.js"></script>
    <script src="js/src/playersApp.playerController.js"></script>
    <script src="js/src/chartController.js"></script>
    <!--<script src="js/src/contactController.js"></script>-->

    <!-- CSS -->
    <link href="css/dist/mini.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
        <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>-->
    <!--[endif]-->
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top" ng-app="PlayersApp" id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#page-top" class="navbar-brand page-scroll">4th and 1</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a class="page-scroll"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#analyze">Analyze</a>
                </li>
                <!--<li>-->
                    <!--<a class="page-scroll" href="#contact">Contact</a>-->
                <!--</li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="intro" class="intro-section page-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>4th and 1</h1>
                <h2><i class="ion-ios-pie-outline"></i> <i class="ion-ios-americanfootball-outline"></i> <i class="ion-ios-flask-outline"></i></h2>
                <p>Welcome to 4th and 1. The purpose of this application is to provide the user with more than just player projections for their fantasy lineups. For more information, stop by the about section.</p>
                <br>
                <a class="btn btn-default page-scroll an-button" href="#analyze">Click Here to Analyze Players!</a>
            </div>
        </div>
    </div>
</section>

<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>About</h1>
            </div>
            <h4 class="about-top">As fantasy football fanatics, we are constantly looking for an edge on our competition. We always seem to find apps that are completely subjective and provide little or no actual player statistics.</h4>
            <h3>Exhibit A:</h3>
            <img src="img/comparison.jpg" class="green-red">
            <br><br>
            <p class="about-top">For those who don't want to expend much mental energy in determining their lineups, this is great. For those of us who enjoy the process of gathering statistics and information to make decisions, this is not ideal.</p>
            <p>This is where 4thand1 comes into play. There are no green or red boxes. Player statistics are broken down into location-specific categories, and displayed in a manner which makes it easy to interpret. Navigate around the generated graphs and you will be presented with pertinent statistics to make the right roster decisions.</p>
            <p>Questions/comments/concerns? Shoot an email to <a href="mailto:evan@4thand1.football">evan@4thand1.football</a>.</p>
        </div>
    </div>
</section>

<section id="analyze" class="analyze-section" ng-controller="playerController">
    <div class="row">
        <div class="col-lg-12">
            <h1>Analyze</h1>
        </div>
    </div>
    <div ng-repeat="player in playerArray track by $index" ng-controller="chartController">
        <div class="container" ng-if="player.posd=='QB'">
            <h3>{{player.display}}</h3>
            <div class="pass" id={{player.player}} ng-init="buildQbChart(player)"></div>
        </div>
        <div class="container" ng-if="player.posd=='RB' || player.posd=='FB'">
            <h3>{{player.display}}</h3>
            <div class="rush" id={{player.player}} ng-init="buildRbChart(player)"></div>
        </div>
        <div class="container" ng-if="player.posd=='LWR' || player.posd=='RWR'  || player.posd == 'TE' || player.posd == 'SWR'">
            <h3>{{player.display}}</h3>
            <div class="pass" id={{player.player}} ng-init="buildWrChart(player)"></div>
        </div>
    <button class="btn btn-default showYPG" ng-show="$last" ng-click="changeView()" ng-init="buildAButton()"></button>
    </div>
    <br>
    <div class="row search">
        <input class="search" id="players" type="text" placeholder="Search for players">
        <button class="btn btn-success search" type="submit" ng-click="addPlayer(newPlayer); resetSearch()">Submit</button>
        <br>
        <br>
    </div>
</section>

<!--<section id="contact" class="contact-section" ng-controller="contactController">-->
    <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
            <!--<h1>Contact</h1>-->
        <!--</div>-->
    <!--</div>-->
    <!--<form class="well form-horizontal" id="contact_form">-->
        <!--<fieldset>-->
            <!--<div class="form-group">-->
                <!--<label class="col-md-4 control-label">Name</label>-->
                <!--<div class="col-md-4 inputGroupContainer">-->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i> </span>-->
                        <!--<input ng-model= "name" name="name" placeholder="Name" class="form-control"  type="text">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Text input&ndash;&gt;-->
            <!--<div class="form-group">-->
                <!--<label class="col-md-4 control-label">E-Mail</label>-->
                <!--<div class="col-md-4 inputGroupContainer">-->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>-->
                        <!--<input ng-model="email" name="email" placeholder="E-Mail Address" class="form-control"  type="text">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Text input&ndash;&gt;-->
            <!--<div class="form-group">-->
                <!--<label class="col-md-4 control-label">Message</label>-->
                <!--<div class="col-md-4 inputGroupContainer">-->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>-->
                        <!--<textarea ng-model="message" class="form-control" name="comment" placeholder="Message"> </textarea>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Success message &ndash;&gt;-->
            <!--<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i></div>-->
            <!--&lt;!&ndash; Button &ndash;&gt;-->
            <!--<div class="form-group">-->
                <!--<label class="col-md-4 control-label"></label>-->
                <!--<div class="col-md-4">-->
                    <!--<button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</fieldset>-->
    <!--</form>-->
<!--</section>-->

<!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<script src="js/src/jquery.easy-autocomplete.js"></script>
<script src="js/src/scrolling-nav.js"></script>

<!-- Highcharts -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<!-- Bootstrap -->
<script src="js/src/bootstrap.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>-->

</body>

</html>