* {
    box-sizing: border-box;
}

body{
    margin:0px!important;
}

.an-button {
    position:relative;
}

.page-top {
    background-image: url('../../img/x-and-o.jpg');
    background-size: 100% 100%;
    background-attachment: scroll;
    color: white;
    min-height: 500px;
}

.search {
    height: 35px;
    border-radius: 5px;
    width: 260px;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
}

.green-red {
    width: 100%;
    max-width: 600px
}

#success_message {
    display: none;
}

#contact_form {
    background-color: #eee;
}